.App {
  text-align: center;
  -webkit-app-region: drag;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 1s alternate-reverse infinite;
  -moz-animation: rotating 1s alternate-reverse infinite;
  -ms-animation: rotating 1s alternate-reverse infinite;
  -o-animation: rotating 1s alternate-reverse infinite;
  animation: rotating 1s alternate-reverse infinite;
}

.control-help-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.control-help-container div.control-help {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999999;
  opacity: 0;
  transition: opacity 400ms;
  padding-top: 80vh;
}
.control-help-container:hover div.control-help,
.control-help-container.show div.control-help {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0)
  );
  opacity: 1;
}

.control-help-container.hide div.control-help {
  display: none;
}
